* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    scroll-behavior: smooth;
}
.nav-item .nav-link:hover {
    color: goldenrod !important;
    transition: color 0.3s ease;
}
.nav-item .btn:hover {
    color: goldenrod !important;
    transition: color 0.3s ease;
}
.hero {
    height: 100vh;
    background: linear-gradient(135deg, rgba(12, 60, 12, 0.9), rgba(46, 139, 87, 0.8)), url('https://images.unsplash.com/photo-1517245386807-bb43f82c33c4?ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80');
    background-size: cover;
    background-position: center;
    color: white;
    display: flex; 
    justify-content: space-between; 
    align-items: center;
    padding: 0 50px;
}
.hero .container {
    max-width: 50%; 
    text-align: left; 
    margin-left: 10%;
    padding-left: 20px; 
  }
  
.hero img {
      max-width: 45%;
      height: auto;
      border-radius: 10px;
      margin-right: 9%;
  }

.hero h1 {
    font-size: 3rem;
    margin-bottom: 20px;
    color: white;
    font-weight: bold;
}

.hero p {
    font-size: 1.2rem;
    max-width: 700px;
    margin: 0 auto 30px;
    color: rgba(255, 255, 255, 0.9);
    font-weight: 350;
}

.how-it-works {
    background-color: #f8f9fa;
    height: 100vh;
}
.heaad{
    background-color: #0C3C0C;
    height: 10%;
}
.heaad .container {
    display: flex; 
    justify-content: space-between; 
    align-items: center;
    /* padding: 20px 50px; */
    margin-right: 8%;
}
.heaad .container a{
    color: white;
    font-weight: 500;
    transition: color 0.3s ease;
    /* padding: 8px 40px;  */
    /* display: inline-block;  */
}
.foot{
    background-color: #0C3C0C;
}

@media (max-width: 768px) {
    .hero {
        flex-direction: column; 
        text-align: center; 
        padding: 150px 20px 80px;
    }

    .hero .container {
        max-width: 100%; 
        margin: 0;
        padding: 0; 
    }

    .hero img {
        order: -1; 
        max-width: 40%;
        margin-bottom: 20px;
    }

    .hero h1 {
        font-size: 2.2rem;
        margin: 0;
        text-align: center;
    }

    .hero p {
        font-size: 1rem;
        margin-bottom: 20px; 
        text-align: center;
    }
    .hero .btn {
        display: block; 
        margin: 0 auto;
    }
    
}
